@model MagnitudeConverter.Models.RequestDto
 
<form asp-controller="converter" asp-action="result" method="post">
    <p>
        <select asp-for="FromUnit">
            <option value="" selected disabled hidden></option>
            @foreach (var value in ViewBag.Magnitudes)
            {
                <option>@value.NameOfUnit</option>
            }
        </select>
        <select asp-for="ToUnit">
            <option value="" selected disabled hidden></option>
            @foreach (var value in ViewBag.Magnitudes)
            {
                <option>@value.NameOfUnit</option>
            }
        </select>
    </p>
    <input type="number" asp-for="Value" />

</form>